<div class="form-inline">
  <h3 style="margin-left: 15px">Sign up</h3>
  <button type="button" class="close" style="margin-left: auto" aria-label="Close" (click)="closeRegistration()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form class="col-md-10" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <br>
      <small *ngIf="form.get('email').hasError('required') && form.controls['email']?.touched">
        E-mail is mandatory.
      </small>
      <small *ngIf="form.get('email').hasError('email')">
        Incorrect E-mail.
      </small>
      <input aria-describedby="emailHelp" class="form-control" formControlName="email" id="inputEmail"
             placeholder="Enter email"
             type="email">
      <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone else.</small>
    <br/>
    <label for="inputName">Name</label>
    <br>
      <small *ngIf="form.get('name').hasError('required') && form.controls['name']?.touched">
        Name is mandatory.
      </small>
      <input class="form-control" formControlName="name" id="inputName"
             placeholder="Enter name">
    <br/>
    <label for="inputPassword">Password</label>
    <br>
      <small *ngIf="form.get('password').hasError('required') && form.controls['password']?.touched">
        Password is mandatory.
      </small>
      <small *ngIf="form.get('password').hasError('minlength')">
        Password with less than 6 characters.
      </small>
      <small *ngIf="form.get('password').hasError('maxlength')">
        Password with more than 24 characters.dsd
      </small>
      <input aria-describedby="passwordHelp" class="form-control" formControlName="password" id="inputPassword"
             placeholder="Password" type="password">
      <small class="form-text text-muted" id="passwordHelp">Between 6 and 24 characters.</small>

      <small *ngIf="form.hasError('passwordsNotEqual')">
        Passwords are different. They should be equal!
      </small>
    <br/>
    <label for="inputPasswordConfirm">Confirm password</label>
    <input aria-describedby="passwordValidationHelp" class="form-control"
           formControlName="passwordAgain" id="inputPasswordConfirm"
           placeholder="Confirm password" type="password">
  </div>
  <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Submit</button>
</form>
