<div class="container">
  <div class="card">
    <div class="d-flex">
      <div class="col-md-6 no-padding">
        <div class="container">
          <div class="align-middle">
            <div class="d-flex flex-column justify-content-center align-content-center">
              <h1>DinnerApp</h1>
              <p>Book your table right now!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding">
        <div class="container">
          <div class="align-middle">
            <div class="d-flex flex-column justify-content-center align-content-center">
              <button class="col-md-6 btn btn-info active" routerLink="/login">Login</button>
              <button class="col-md-6 btn" routerLink="/auth">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
