<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dinner App</a>

    <div *ngIf="!loggedIn" class="collapse navbar-collapse">
      <ul class="align-content-end navbar-nav mr-auto">
        <li class="nav-item">
          <button class="btn btn-info active" routerLink="/login">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn" routerLink="/auth">Sign up</button>
        </li>
      </ul>
    </div>
    <div *ngIf="loggedIn">
      <button class="btn btn-danger" (click)="onLogout()">Logout</button>
    </div>
  </nav>
  <div style="margin: 20px"></div>
  <div class="d-flex flex-column justify-content-center align-items-center">

    <h1>{{welcomeMessage}}</h1>
    <p>Book your table anywhere</p>

    <form class="form-inline">

      <div class="input-group">
        <input class="form-control" placeholder="City" type="text">
        <input class="form-control" placeholder="Time" type="text">
        <button class="btn btn-primary mb-2 form-control" type="submit">Submit</button>
      </div>
    </form>

  </div>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-row">
      <div *ngFor="let restaurant of restaurants">
        <div class="card" style="width: 18rem; margin: 10px">
          <img src="{{restaurant.imageUrl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{restaurant.title}}</h5>
            <p class="card-text">{{restaurant.kitchen}} * {{restaurant.district}}</p>
            <p>{{restaurant.reviews.length}} reviews</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <h4 class="text-center" style="padding-top: 20px; padding-bottom: 20px">Observe popular open tables</h4>
    <div class="d-flex flex-row">
      <div *ngFor="let table of tables">
        <div class="card" style="width: 18rem; margin: 10px">
<!--          <img src="{{restaurant.imageUrl}}" class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title">{{table.name}}</h5>
            <p class="card-text">Number of seats available:  {{table.seats}}</p>
            <p>Status: {{table.status}}</p>
          </div>
          <button class="btn-primary">Book now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <div style="padding: 100px 0px" class="col-md-4 d-flex flex-column">
      <h4 class="text-center">Restaurateurs Join Us</h4>
      <p class="text-center">join OpenTable, and the 40,000 top restaurants using OpenTable's restaurant management
        software</p>
      <button class="btn btn-light">Learn more</button>
    </div>
  </div>
  <!--      <angular-image-slider [images]="imagesUrl"></angular-image-slider>-->
</div>
